---
layout: default
title: Portfolio
id: portfolio
permalink: /portfolio/
---
<div id="full-width">

  {% for project in site.data.projects %}
    <div class="project">
      {% if project.isWinner %}
        <div class="winnertag"></div>
      {% endif %}
      <div class="picwrap">
        <img
          src="../img/{{ project.thumbnail_path }}"
          alt="{{ project.title }}"
        />
      </div>
      <h2>
        <a href="{{ project.post_path }}">
          {{ project.title }}
        </a>
      </h2>
    </div>
  {% endfor %}

  <div class="clear"></div>

</div><!--/content-->

<div class="clear"></div>
