<div id="socialmedia">
  <ul>
    <li class="facebook"><a href="http://www.facebook.com/pages/Studio-four-one-four/364331796914766" title="Find us on Facebook" target="_blank">Facebook</a></li>
    <li class="linkedin"><a href="http://www.linkedin.com/company/studio-four-one-four" title="" target="_blank">LinkedIn</a></li>
    <li class="rssfeed"><a href="../feed/index.html" title="Subscribe to our RSS Feed " target="_blank">RSS</a></li>
    <div class="clear"></div>
  </ul>
</div>

<div id="sitecredits">
  site created by <a href="http://branberg.com" title="Branberg" target="_blank">Branberg</a> &copy; 2011 - 2015
</div>