<div id="hwrap">
  <div id="header">
    <div id="navwrap">
      <h1 id="logo"><a href="/" title="Studio four one four">Studio four one four</a></h1>
      <div class="menu-main-navigation-container">
        <ul id="nav" class="menu">
          <li {% if page.id == 'portfolio' %}class="current-menu-item"{%endif%}><a href="/portfolio">Portfolio</a></li>
          <li {% if page.id == 'people' %}class="current-menu-item"{%endif%}><a href="/people">People</a></li>
          <li {% if page.id == 'blog' %}class="current-menu-item"{%endif%}><a href="/blog">Blog</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div><!--/navwrap-->
  </div><!--/header-->
</div><!--/hwrap-->
