// Portfolio
body.portfolio #hwrap{
  background: url("../img/scale-wall-header-bg01.jpg") top center no-repeat;
}

// People
body.people #hwrap{
  background: url("../img/team/team4141.jpg") top center no-repeat
}

// About
body.about #hwrap{
  background: url("../img/header-bg-mam01.jpg") top center no-repeat;
}